In [13]:
import streamlit as st
import pandas as pd
import matplotlib.pyplot as plt
import requests
import datetime

In [14]:
st.title('CNN JOB MON')

def load_data():
    url = 'http://43.202.66.118:8006/all'
    r = requests.get(url)
    d = r.json()
    return d

2024-09-26 17:43:53.380 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-26 17:43:53.382 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [15]:
data = load_data()
df = pd.DataFrame(data)
df

,num,file_name,label,file_path,request_time,request_user,prediction_model,prediction_result,prediction_time
0,1,7_25452.png,,/home/ubuntu/images/n11/0bacd2a5-d393-4152-a50...,2024-09-25 10:30:38,n11,n01,6,2024-09-25 10:31:01
1,2,7_25452.png,,/home/ubuntu/images/n11/4410feba-fde6-4107-81c...,2024-09-25 10:30:39,n11,randint,8,2024-09-25 10:31:01
2,3,7_25452.png,,/home/ubuntu/images/n11/e238684e-3caa-4417-aba...,2024-09-25 10:30:39,n11,n77,5,2024-09-25 10:31:02
3,4,7_25452.png,,/home/ubuntu/images/n11/db967479-5ffc-492b-b92...,2024-09-25 10:30:39,n11,n04,7,2024-09-25 10:31:02
4,5,7_25452.png,,/home/ubuntu/images/n11/59fc767d-3834-4b31-857...,2024-09-25 10:30:39,n11,mnist240924.keras,8,2024-09-25 10:31:05
...,...,...,...,...,...,...,...,...,...
299,303,1.jpeg,1,/home/ubuntu/images/n23/635c0ffe-838b-4d77-927...,2024-09-25 16:56:41,n23,mnist240924.keras,1,2024-09-25 16:57:47
300,304,1.jpeg,1,/home/ubuntu/images/n23/a1a38ed5-6e5c-45cd-958...,2024-09-25 16:56:41,n23,mnist240924.keras,1,2024-09-25 16:57:54
301,305,1.jpeg,1,/home/ubuntu/images/n23/c5833f20-363b-470e-904...,2024-09-25 16:56:41,n23,randint,5,2024-09-25 16:58:02
302,306,1.jpeg,1,/home/ubuntu/images/n23/7430e34c-ed14-4b0b-8c7...,2024-09-25 16:56:41,n23,n04,1,2024-09-25 16:58:29
303,307,1.jpeg,1,/home/ubuntu/images/n23/dca4fbdd-76c1-4a26-94e...,2024-09-25 16:56:41,n23,mnist240924.keras,1,2024-09-25 16:58:29

In [36]:
df['request_time'] = pd.to_datetime(df['request_time'])
df['request_time'] = df['request_time'].dt.strftime('%Y-%m-%d %H')
time = df.groupby('request_time').size()

In [37]:
plt.bar(time.index, time.values)
plt.plot(time.index, time.values, marker='o', color='r')
plt.xlabel('Request Time')  # x축 레이블
plt.ylabel('Count')  # y축 레이블


# 화면에 그리기
st.pyplot(plt)

2024-09-26 17:51:33.946 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-26 17:51:34.334 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-26 17:51:34.335 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

DeltaGenerator()